<h4>Blocipedia is a free encyclopedia</h4>
<br> 
<p>It is a special type of website designed to make collaboration easy, called a wiki.</p>
<p>Many people are constantly improving Blocipedia, making thousands of changes per hour.</p>
